.pinomain{
  background-color: #112233;
}

.pinotransp{
  height: 900px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

.pinotransp__button{
  width: 160px;
  background-color: aliceblue;
  padding: 15px 25px;
  color: #4267b2;
  display: block;
  margin-left: 0px;
  margin-top: 30px;
}


.pinorect1{
  height: 600px;
  background-color: #2d3d66;
  padding-top: 0px;
  font-family: 'Quicksand', sans-serif;
}

.pinocuad1{
  height: 600px;
  width: 100%;
  background-color: #2d3d66;
  float: left;
  padding: 20px;
  padding-top: 40px;
  padding-left: 50px;
}

.pinocuad2{
  height: 600px;
  width: 100%;
  background-color: #6d6d66;
  float: left;
  padding: 20px;
  padding-top: 40px;
}

.pinorect2{
  height: 900px;
  background-color: #171d40;
  padding-top: 50px;
  padding-left: 100px;
}

.pinorect3{
  height: 500px;
  background-color: #2d3d88;
  padding-top: 10px;
}

.contrapoligono-pino{
  height: 100px;/*400px;*/
  margin-left: -10px;
  /*margin-right: -10px;*/
  background-color: #fff; /*#dddddd;*/
  /*clip-path:polygon(0 0,50% 0,100% 0%,0 100%);*/
  clip-path:polygon(0 17vw,100% 0,100% 700px,0 700px);
  /*position: sticky;*/
  left:0;
  top:0;
  transition:background 0.5s ease;
  color: white;
  padding: 5px;
  font-family: Tahoma, Geneva, sans-serif;
}

.itemenu{
  padding-left: 25px;
}

.itemenu:hover{
  background-color: #112240;
}

.pinohead{
  border-bottom: 1px solid rgba(255,255,255,.1);
  /*position: fixed;*/
  width: 100%;
}

.pinohead-sticky{
    background:#fff;
}

.topnav{
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size:1.2rem;
}

.box div {
  height: 60px;
}

.pinotitulo {
  height: auto;
  color: aliceblue;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 14%;
  width: 100%;
  border-bottom: 1px solid rgba(255,255,255,.1);
  font-family: 'Quicksand', sans-serif;
}

.pinofoot{
  height: 60px;
  padding-top: 10px;
  background-color: white;
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
}

.boxder{
  width: 60vw;
}

/*Letras*/

.pinofontmain{
  padding-top: 200px;
  padding-left: 0px;
  padding-right: 20px;
  width: 100%;
  font-size: 2.1em;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.pinofondoblanco{
  font-size: 30px;
  /*font-family: Tahoma, Geneva, sans-serif;*/
  text-align: right;
  padding-top: 160px;
  padding-right: 20px;
}

.pinofondoblancochico{
  font-size: 20px;
  /*font-family: Tahoma, Geneva, sans-serif;*/
  text-align: right;
  padding-right: 20px;
}


.pinofondoazul{
  /*width: 60vw;*/
  width: 100%;
  font-size: 40px;
  /*font-family: Tahoma, Geneva, sans-serif;*/
  text-align: center;
  color: white;
}

.pinofondoazulchico{
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding-left: 0px;
  padding-left: 0px;
  color: white;
  margin-top: 20px;
}

.pinofondoazulmain{
  padding-left: -10px;
  padding-top: 10px;
  width: 100%;
  font-size: 1.2em;
  color: white;
  font-family: 'Tahoma', sans-serif;
  text-align: left;
}

.contenedorpinocelda{
  height: 900px;
  width: 300px;
}

.pinocelda{
  background-color: #171d40;
  height: 200px;
  width: 250px;
  float: left;
  padding: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-family: Tahoma, Geneva, sans-serif;
}

.pinoceldafont1{
  font-size: 10px;
  color: white;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  font-size: 40px;
  padding-bottom: 10px;
}

.pinoceldafont2{
  font-size: 10px;
  color: white;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  font-size: 20px;
  padding-top: 10px;
}
/*
@media screen and (max-width: 1200px){
  .pinotransp{
    padding-left: 50px;
  }
}

@media screen and (max-width: 940px){
  .pinotransp{
    /*height: 600px;*/
 /* }.pinotransp{
    /*height: 700px;*/
 /* }

  .pinorect3{
    height: 700px;
  }

  .pinorect3{
    height: 600px;
  }
}

@media screen and (max-width: 780px) {
  .pinorect3{
    height: 700px;
  }
}
*/

@media screen and (min-width: 480px) {
  .pinotransp{
    height: 700px;
    padding-left: 40px;
  }

  .contrapoligono-pino{
    height: 130px;
  }

  .pinofontmain{
    padding-top: 250px;
  }

  .pinorect1{
    height: 600px;
  }

  .pinocuad1{
    height: 600px;
    width: 100%;
  }

  .pinocuad2{
    height: 600px;
    width: 100%;
  }

  .contenedorpinocelda{
    height: 900px;
    width: 300px;
  }

  .pinorect2{
    height: 900px;
  }

}

@media screen and (min-width: 780px) {
  .pinotransp{
    height: 650px;
    padding-left: 40px;
  }

  .contrapoligono-pino{
    height: 250px;
  }

  .box{
    max-width: none;
    display: flex;
    justify-content:space-between;
  }

  .pinotitulo {
     padding-top: 25px;
     padding-left: 50px;
     width: auto;
     border-bottom: none;
   }

   .topnav{
    width: auto;
    display: block;
    padding-top: 22px;
    padding-right: 50px;
  }

  .pinofontmain{
    width: 60vw;
  }

  .topnav a {
    font-size:1.1rem;
  }

  .pinorect1{
    height: 400px;
  }

  .pinocuad1{
    height: 400px;
    width: 55%;
  }

  .pinocuad2{
    height: 400px;
    width: 45%;
  }

  .contenedorpinocelda{
    height: 500px;
    width: 530px;
  }

  .pinorect2{
    height: 500px;
  }
}


@media screen and (min-width: 1200px){
  .contrapoligono-pino{
    height: 400px;
  }

  .pinotransp{
    height: 650px;
    overflow: visible;
  }

  .pinofontmain{
    padding-top: 240px;
    padding-left: 30px;
    font-size: 3.3em;
    color: white;
  }

  .pinofondoazulchico{
    padding-left: 30px;
  }

  .pinotransp__button{
    margin-left: 30px;
  }

  .pinofondoazulmain{
    padding-left: 30px;
  }

  .pinorect1{
    height: 400px;
  }

  .pinocuad1{
    height: 400px;
    width: 55%;
  }

  .pinocuad2{
    height: 400px;
    width: 45%;
  }

  .contenedorpinocelda{
    height: 500px;
    width: 530px;
  }

  .pinorect2{
    height: 500px;
  }
}
