.pinomain{
  background-color: #112233;
}

.pinotransp{
  height: 500px;
}

.pinotransp__button{
  width: 160px;
  background-color: aliceblue;
  padding: 15px 25px;
  color: #4267b2;
  display: block;
  margin-left: 30px;
  margin-top: 30px;
}


.pinorect1{
  height: 500px;
  background-color: #2d3d66;
  padding-top: 50px;
}

.pinorect2{
  height: 500px;
  background-color: #2d3d77;
  padding-top: 10px;
}

.pinorect3{
  height: 500px;
  background-color: #2d3d88;
  padding-top: 10px;
}

.contrapoligono-pino{
  height: 400px;/*700px;*/
  margin-left: -10px;
  /*margin-right: -10px;*/
  background-color: #fff; /*#dddddd;*/
  /*clip-path:polygon(0 0,50% 0,100% 0%,0 100%);*/
  clip-path:polygon(0 17vw,100% 0,100% 700px,0 700px);
  /*position: sticky;*/
  left:0;
  top:0;
  transition:background 0.5s ease;
  color: white;
  padding: 5px;
  font-family: Tahoma, Geneva, sans-serif;
}

.itemenu{
  padding-left: 25px;
}

.itemenu:hover{
  background-color: #112240;
}

.pinohead{
  border-bottom: 1px solid rgba(255,255,255,.1);
  position: fixed;
  width: 100%;
}

.pinohead-sticky{
    background:#fff;
}

.topnav{
  overflow: hidden;
  width: 100%; 
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size:1.2rem;
}

.box div {
  height: 60px;
}

.pinotitulo {
  height: auto;
  color: aliceblue;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 14%;
  width: 100%; 
  border-bottom: 1px solid rgba(255,255,255,.1);
}

.pinofoot{
  height: 60px;
  padding-top: 10px;
  background-color: white;
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
}

.boxder{
  width: 60vw;
}

/*Letras*/

.pinofontmain{
  padding-top: 200px;
  padding-left: 30px;
  width: 60vw;
  font-size: 40px;
  font-family: Verdana;
  color: white;
}

.pinofondoblanco{
  font-size: 30px;
  font-family: Tahoma, Geneva, sans-serif;
  text-align: right;
  padding-top: 160px;
  padding-right: 20px;
}

.pinofondoblancochico{
  font-size: 20px;
  font-family: Tahoma, Geneva, sans-serif;
  text-align: right;
  padding-right: 20px;
}

.pinofondoazul{
  width: 60vw;
  font-size: 40px;
  font-family: Tahoma, Geneva, sans-serif;
  text-align: left;
  padding-left: 30px;
  color: white;
}

.pinofondoazulchico{
  width: 60vw;
  font-size: 20px;
  font-family: Tahoma, Geneva, sans-serif;
  text-align: left;
  padding-left: 30px;
  color: white;
}

.pinofondoazulder{
  width: 96vw;
  font-size: 40px;
  font-family: Tahoma, Geneva, sans-serif;
  text-align: right;
  padding-right: 30px;
  color: white;
}

.pinofondoazulchicoder{
  width: 96vw;
  font-size: 20px;
  font-family: Tahoma, Geneva, sans-serif;
  text-align: right;
  color: white;
}

@media screen and (max-width: 1200px){
  .pinotransp{
    height: 500px;
  }
}

@media screen and (max-width: 940px){
  .pinotransp{
    height: 600px;
  }.pinotransp{
    height: 700px;
  }

  .pinorect3{
    height: 700px;
  }

  .pinorect3{
    height: 600px;
  }
}

@media screen and (max-width: 780px) {
  .pinotransp{
    height: 700px;
  }

  .pinorect3{
    height: 700px;
  }
}


@media screen and (min-width: 780px) {
  .box{
    max-width: none;
    display: flex;
    justify-content:space-between;
  }

  .pinotitulo {
     padding-top: 25px;
     padding-left: 50px;
     width: auto;
     border-bottom: none;
   }

   .topnav{
    width: auto;
    display: block;
    padding-top: 22px;
    padding-right: 50px;
  }

  .topnav a {
    font-size:1.1rem;
  }
}
