

.servicios{
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.servicio__item{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.servicio__item{
    font-size: 1.2rem;
}

.servicio__item-texto{
    color: #444;
    font-size: 1.2rem;
    max-width: 300px;
}

.servicio-img{
    margin-bottom: 10px;
}
.servicio__animacion{
    /*border: 1px solid gray;*/
    width: 200px;
    height: 70px;
    position: relative;
}
/*animacion del primer item*/
.servicio__animacion--cuadrado{
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: red;
    top: 0px;
    left: 0px;
    animation-duration: 1s;
    animation-name: anima_cuadrado;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    border-radius: 50%;
}

.servicio__animacion--c2{
    top:20px;
    
}

.servicio__animacion--c3{
    top:40px;
    
}

@keyframes anima_cuadrado{
    from{
        left: 0%;
        transform: rotate(0deg);
        border-radius: 50%;
        background-color: black;
    }

    to{
        left: 25%;
        transform: rotate(180deg);
        border-radius: 0%;
        background-color: red;
    }
}

/*fin animacion del primer item*/

/*animacion del segundo item*/
.servicio__animacion--circulo{
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: rgb(81,135,254);
    /*top: 5px;*/
    transform: translateY(15px);
    left: 21px;
    border-radius: 50%;
    animation: anima_circulo linear 1.2s infinite alternate-reverse;
}

.servicio__animacion--rectangulo{
    position: absolute;
    height: 8px;
    background-color: #000;
    top: 25px;
    left: 6px;
}

.servicio__animacion--r1{
    animation: anima_r1 1.2s linear infinite alternate-reverse;
    width: 25px;
    left: 14px;
}

.servicio__animacion--r2{
    top:38px;
    width: 40px;
    left: 7px;
}

.servicio__animacion--r3{
    top:52px;
    width: 55px;
    left:  0px;
}

@keyframes anima_circulo{
    0%{
        transform: translateY(15px);
    }

    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(40px)
    }
}

@keyframes anima_r1{
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}


/*fin animacion del segundo item*/

/*animacion del tercer item*/
.servicio__animacion--ci{
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: #000;
    top: 20px;
    left: 21px;
    border-radius: 50%;
}

.servicio__animacion--cir1{
    transform: translateX(25px);
    animation: anima_cir1 4s linear infinite;
}


.servicio__animacion--cir2{
    transform: rotate(120deg) translateX(25px);
    animation: anima_cir2 4s linear infinite;
}

.servicio__animacion--cir3{
    transform: rotate(240deg) translateX(25px);
    animation: anima_cir3 4s linear infinite;
}


@keyframes anima_cir1{
    from{
        transform: rotate(0deg) translate(25px);
    }
    to{
        transform: rotate(360deg) translate(25px);
    }
}

@keyframes anima_cir2{
    from{
        transform: rotate(120deg) translate(25px);
    }
    to{
        transform: rotate(480deg) translate(25px);
    }
}

@keyframes anima_cir3{
    from{
        transform: rotate(240deg) translate(25px);
    }
    to{
        transform: rotate(600deg) translate(25px);
    }
}


.servicio__animacion--cu{
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #000;
    top: 20px;
    left: 21px;
    
}

.servicio__animacion--cu1{
    transform: rotate(60deg) translateX(25px);
    animation: anima_cu1 4s linear infinite;
}

.servicio__animacion--cu2{
    transform: rotate(180deg) translateX(25px);
    animation: anima_cu2 4s linear infinite;
}

.servicio__animacion--cu3{
    transform: rotate(300deg) translateX(25px);
    animation: anima_cu3 4s linear infinite;
    background-color: red;
}

@keyframes anima_cu1{
    from{
        transform: rotate(60deg) translate(25px);
    }
    to{
        transform: rotate(420deg) translate(25px);
    }
}

@keyframes anima_cu2{
    from{
        transform: rotate(180deg) translate(25px);
    }
    to{
        transform: rotate(540deg) translate(25px);
    }
}

@keyframes anima_cu3{
    from{
        transform: rotate(300deg) translate(25px);
    }
    to{
        transform: rotate(660deg) translate(25px);
    }
}
/*fin animacion del tercer item*/
.servicios__titulo{
    display: block;
    width: 90%;
    margin: 0 auto;
    font-size: 2rem;
    margin-bottom: 20px;
}

@media (min-width:30em){
    .servicio-img{
        padding-right: 30px;
    }
    
    .servicios__titulo{
        width: 80%;
        padding-left: 10px;
        margin-bottom: 60px;
    }

    .servicio__container{
        justify-content: center;
        width: 90%;
        margin: 0 auto;
    }

    .servicio__item{
        display: flex;
    }

    .servicio__animacion{
        width: 130px;
    }

    .servicio__animacion--cuadrado{
        width: 12px;
        height: 12px;
    }

    .servicio__animacion--cuadrado{
        margin-top: 10px;
    }

    .servicio__animacion--c2{
        top:25px;
        
    }
    
    .servicio__animacion--c3{
        top:50px;
        
    }

    @keyframes anima_cuadrado{
        from{
            left: 0%;
            transform: rotate(0deg);
            border-radius: 50%;
            background-color: black;
        }
    
        to{
            left: 35%;
            transform: rotate(180deg);
            border-radius: 0%;
            background-color: red;
        }
    }
}

@media (min-width:60em){

    .servicio-img{
        margin-bottom: 20px;
    }

    .servicios__titulo{
        padding-left: 0;
        padding-right: 450px;
        width: 90%;
        font-size: 4.2em;
    }

    .servicio__container{
        display: flex;
        justify-content: space-around;
    }

    .servicio__item{
        display: block;
    }

    .servicio__item-subtitulo{
        margin-bottom: 20px;
        font-size: 2rem;
    }

    .servicio__animacion{
        height: 100px;
    }
}


