

.servicios{
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.servicio__item{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.servicio__item{
    font-size: 1.2rem;
}

.servicio__item-texto{
    color: #444;
    font-size: 1.2rem;
    max-width: 300px;
}

.servicio-img{
    margin-bottom: 10px;
}

.servicios__titulo{
    display: block;
    width: 90%;
    margin: 0 auto;
    font-size: 2rem;
    margin-bottom: 20px;
}

@media (min-width:30em){
    .servicio-img{
        padding-right: 30px;
    }
    
    .servicios__titulo{
        width: 80%;
        padding-left: 10px;
    }

    .servicio__container{
        justify-content: center;
        width: 85%;
        margin: 0 auto;
    }

    .servicio__item{
        display: flex;
    }
}

@media (min-width:60em){

    .servicio-img{
        margin-bottom: 20px;
    }

    .servicios__titulo{
        padding-left: 0;
        padding-right: 450px;
        width: 85%;
        font-size: 3.5em;
    }

    .servicio__container{
        display: flex;
        justify-content: space-around;
    }

    .servicio__item{
        display: block;
    }

    .servicio__item-subtitulo{
        margin-bottom: 20px;
        font-size: 1.5rem;
    }
}


